@import responsive

/* For mobile phones: */
[class*="col"] 
    width: 100%
    float: left
    padding: 15px

body
    background-color: lightgrey
    font-family: "Proxima Nova Soft", sans-serif
    margin: 0

img
    width: 100%
    background-size: 100% 100%
    z-index: 0     

#topic
    text-align: center

#content
    margin: 0 30px    

    h1
        font-size: 2em
        margin: 15px 5px 0 0    

.item        
    background-color: white
    padding: 0 0 30px 0
    box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.5)
    margin-bottom: 30px

header
    position: relative  
    span
        background-color: #f66951
        color: white
        font-weight: bolder
        position: absolute
        z-index: 999
        font-size: 2.6vw
        border-radius: 87%
        width: 13%
        text-align: center
        height: 21%
        padding: 4px
        box-sizing: content-box
        right: 15px
        top: 15px
        time
            font-size: 5vw
    figcaption
        background-color: tomato    
        color: white
        font-weight: bold
        width: 27%
        position: absolute
        z-index: 999
        bottom: 4px
        font-size: 4vw
        padding: 8px

  

main
    padding: 0 1.5em
    span
        color: #f66951
        font-weight: bolder
    p
        color: grey

footer
    padding: 0 1.5em
    color: grey
    i
        float: left
        margin-right: 10px    


#fog
    background-color: black
    opacity: 0.2
    position: absolute
    top: 0
    width: 100%
    height: 98%


